<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="front::layout(~{::section})">
<head>
    <meta charset="UTF-8">
    <title>Details</title>
</head>
<body>
<section>
    <div class="card mr-3 ml-3">
        <div class="card-body">
            <h1 class="text-center">Enter Your Details!!</h1>

            <div class="container-fluid mt-1">
                <div class="row">
                    <div class="col-md-8 offset-md-2">
                        <form  th:object="${details}" th:method="post" th:action="@{/details}" class="mt-2">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <div class="input-group-text">
                                        <i class="fa fa-plus"></i>
                                    </div>
                                </div>
                                <input id="uid" name="userId" type="text" placeholder="Enter User Id" th:field="${details.userId}">

                            </div>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <div class="input-group-text">
                                        <i class="fa fa-plus"></i>
                                    </div>
                                </div>
                                <input id="bid" name="bookId" type="text" placeholder="Enter book Id" th:field="${details.bookId}">

                            </div>

                            <div class="container text-center">
                                <button class="btn btn-outline-primary">Submit</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
</body>
</html>