<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="front::layout(~{::section})">
<head>
    <meta charset="UTF-8">
    <title>Fine Details</title>
</head>
<body>
<section class="bg-light">
    <div class="container">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <div class="card bg-white">
                    <div class="text-center">
                        <img style="width:80px;" scr="" th:src="@{/img/registrr.jpg}"/>
                    </div>
                    <h1 class="card-header text-center fs-4 bg-white">
                        Fine Details!!
                    </h1>

                    <div class="card-body bg-white">
                        <div class="mb-3 ">
                            <form  th:object="${fineDto}" th:method="post" th:action="@{/fine}" class="mt-2">
                                <div class="form-group">
                                    <label for="id">User Id:</label>
                                    <input readonly id="id" type="text" class="form-control" name="userId" th:field="${fineDto.userId}" />
                                </div>

                                <div class="form-group">
                                    <label for="uname">User Name:</label>
                                    <input readonly id="uname" type="text" class="form-control" name="name" th:field="${fineDto.name}" />
                                </div>
                                <div class="form-group">
                                    <label for="bid">Book Id:</label>
                                    <input readonly id="bid" type="text" class="form-control"  name="bookId" th:field="${fineDto.bookId}"/>
                                </div>
                                <div class="form-group">
                                    <label for="title">Book Title:</label>
                                    <input readonly id="title" type="text" class="form-control" name="title"  th:field="${fineDto.title}"/>
                                </div>
                                <div class="form-group">
                                    <label for="fine">Fine Paid:</label><br>
                                    <input readonly id="fine" type="text" class="form-control" name="fineValue" th:field="${fineDto.fineValue}"/>
                                </div>

                                <div class="form-group form-check ">
                                    <label for="fine">Fine Paid or Not:</label><br>
                                    <input  id="check" type="checkbox"  class="form-check-input" name="finePaid" required/>
                                </div>
                                <div class="container text-center mt-3">
                                    <button class="btn btn-outline-primary">Return Book</button>
                                </div>

                            </form>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


</body>
</html>