<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="front::layout(~{::section})">
<head>
    <meta charset="UTF-8">
    <title> Return Details</title>
</head>
<body>
<section class="bg-light">
    <div class="container">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <div class="card bg-white">
                    <div class="text-center">
                        <img style="width:80px;" scr="" th:src="@{/img/registrr.jpg}"/>
                    </div>
                    <h1 class="card-header text-center fs-4 bg-white">
                        Enter Your Details!!
                    </h1>
                    <div th:if="${session.msg10}">
                        <p class="text-center fs-4 text-success" th:text="${session.msg10}"></p>
                        <th:block th:text="${@sessionHelper.removeMessageFromSession()}"></th:block>
                    </div>
                    <div class="card-body bg-white">
                        <div class="mb-3 ">
                            <form  th:object="${detailsDto}" th:method="post" th:action="@{/returnDetails}" class="mt-2">
                                <div class="form-group">
                                    <label for="id">Enter User Id:</label>
                                    <input id="id" type="text" class="form-control" name="userId" placeholder="Enter User Id" th:field="${detailsDto.userId}"/>
                                </div>

                                <div class="form-group">
                                    <label for="bid">Enter Book Id:</label>
                                    <input id="bid" type="text" class="form-control"  name="bookId" placeholder="Enter Book Id" th:field="${detailsDto.bookId}"/>
                                </div>
                                <div class="container text-center mt-3">
                                    <button class="btn btn-outline-primary">Submit</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

</body>
</html>