<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="userFront::layout(~{::section})">
<head>
    <meta charset="UTF-8">
    <title>view Books</title>
</head>
<body>
<section>

    <div class="card mr-3 ml-3">
        <div class="card-body">
            <h1 class="text-center">View Books</h1>

            <div class="text-center mt-3">
                <form th:action="@{/userViewBooks}">
                    Search:
                    <input type="text" name="keyword" placeholder="Enter User Name"/> &nbsp;
                    <button type="submit" class="btn btn-primary text-white">Search</button>
                </form>
            </div>

            <table class="table table-striped table-bordered mt-3">
                <thead class="table-dark">
                <tr>
                    <th scope="col">#ID</th>
                    <th scope="col">ISBN</th>
                    <th scope="col">Title</th>
                    <th scope="col">Author</th>
                    <th scope="col">Edition</th>
                    <th scope="col">Price</th>
                    <th scope="col">Quantity</th>
                    <th scope="col">Feedback</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="book:${books}">
                    <td th:text="${book.id}"></td>
                    <td th:text="${book.isbn}"></td>
                    <td th:text="${book.title}"></td>
                    <td th:text="${book.author}"></td>
                    <td th:text="${book.edition}"></td>
                    <td th:text="${book.price}"></td>
                    <td th:text="${book.quantity}"></td>
                    <td th:text="${book.feedback}"></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</section>
</body>
</html>